<div class="row">
    <div class="col s12 ">
        <div class="card blue-grey darken-2 ">
            <h1 class="center-align white-text">Сохраненные списки Actions</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 ">
        <div class="card blue-grey darken-2 mzk-actions">
            <div class="card-content white-text">
                <div id="noCoverList" class="card-content white-text no-cover-list">
                    <div class="collection">
                        {{#if list.length}}
                        {{#each list}}
                        <a href="/save-actions/{{list_id}}/edit" class="collection-item"
                            data-id={{list_id}}>{{list_name}} - {{date}}</a>
                        {{/each}}
                        {{else}}
                        <a href="#!" class="collection-item">Записей нет!</a>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>